# Mark non-Python assets as vendored so GitHub linguist
# reports the repository as Python-only.
frontend/* linguist-vendored
str linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored